# Data Science Tools and Ecosystem

## Author: Babatunde James Falaye

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* Popular languages that Data Scientists
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL
* Java

Some of the commonly used libraries used by Data Scientists include:
* TensorFlow
* NumPy
* SciPy
* Pandas
* Matplotlib
* Keras
* SciKit-Learn

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

1. 2+3=5
2. 2-3=-1
3. 4/2=2
4. 3*2=6

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :--> 200
Hour : Minute :-->  3  :  20